/* .control-flow {
    color: #58ffab !important;
}
.function {
    color: #f2911f !important;
}
.property-access {
    color: #a6e22e !important;
}
.keyword {
    color: #f92672 !important;
}
.prism-code.language-javascript {
    background-color: #001528 !important;
}
.plain {
    color: #f2901f9a !important;
}
.comment {
    color: #75715e !important;
}
.string {
    color: #e6db74 !important;
}
.keyword.nil , .number {
    color: #a87df7 !important;
}
.parameter {
    color: #e68b20 !important;
}
.punctuation , .operator {
    color: white !important;
}
.selected-var {
    color: #f2901f !important;
} */